body {
    margin: 0;
    color: rgb(0, 0, 0);
    font: 400 1em/1.38 'Arial Black';
}
.header1 {
  height: 65px;
  background-color: rgb(248, 205, 0);
}
.header2 {
    height: 33px;
    background-color: rgb(225, 225, 225);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}
a {
    text-decoration: none;
    color: black;
    transition: 0s
}
.header3 {
    min-width: 300px;
    height: 59px;
}
@media (min-width: 768px) {
    .header3 {
        margin: 0 auto;
        width: 81%;
    }
}
@media (min-width:1366px) {
    .header3 {
        width: 56%;
    }
}

.header {
    position: fixed;
    z-index: 41;
    width: 100%;
    height: 98px;
}
@media (min-width: 768px) {
    .header {
        margin: 0 auto;
    }
}

.text1 {
    float: left;
    width: 229px;
    height: 22px;
    margin-top: 0;
    font-size: 2em;
    line-height: 0.88;
}
.header_buttons {
    height: 33px;
    min-width: 300px;
}
@media (min-width: 768px) {
    .header_buttons {
        margin: 0 auto;
        width: 81%;
    }
}
@media (min-width:1366px) {
    .header_buttons {
        width: 56%;
    }
}

.header_button1 {
    border-left: 1px dotted rgb(178, 178, 178);
}
button {
    display: inline-block;
    height: 33px;
    border: none;
    border-right: 1px dotted rgb(178, 178, 178);
    width: 33.333%;
    font-size: 1em;
    text-align: center;
    font: 400 1em/1.38 'Arial Black';
    color: rgb(0, 0, 0);
    transition: 0.5s;
}
button:hover {
    background-color: rgb(178, 178, 178);
}
.buy_button {
    height: 75px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    width: 300px;
    transition: 0.5s;
    margin: auto;

}
.block_head {
    height: 100%;
    height: 415px;
    border-bottom: 3px solid rgb(248, 205, 0);
    background-image: url('images/image%20(1).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.block_head_animation{
    animation: movingimg 30s infinite;
}

.block_headcover {
    width: 100%;
    height: 415px;
    background-color: rgba(229, 229, 229, 0.77);
}
.main {
    width: 100%;
    min-width: 300px;
    margin-top: 663px;
    text-align: center;
}
@media (min-width: 768px) {
    .main {
        margin: 663px auto 0;
        width: 75%;
    }
}
@media (min-width:1366px) {
    .main {
        width: 50%;
    }
}

.block_headpicture {
    width: 100%;
    height: 415px;
    margin-top: -1081px;
    border-bottom: 3px solid rgb(235, 194, 0);
    background-image: url('images/image%20(1).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    
}
.block_headpicture_animation {
    animation: movingimg 30s infinite
}

.space {
    height: 91px;
}
footer {
    width: 100%;
    height: 65px;
    background-color: rgb(248, 205, 0);
    
}
.footer-box {
    width: 56%;
    min-width: 300px;
    height: 65px;
    margin: 0 auto;
    background-color: rgb(248, 205, 0);
    box-sizing: border-box;
    
}
.text2 {
    box-sizing: border-box;
    padding: 16px 19px 5px 19px;
    min-width: 300px;
    margin: 0 auto;
    font-size: 1em;
    text-align: center;
}
.text3 {
    height: 40px;
    font-size: 20px;
    box-sizing: border-box;
    padding-top: 20px;
    width: 30%;
    min-width: 300px;
    margin: 0 auto;
    text-align: center;
}
.text4 {
    font-size: 0.99em;
    margin-left: 170px;
    text-align: left;
}

.small {
    font-size: 0.5em;
}
@media (min-width: 768px) {
    .small {
        font-size: 0.75em
    }
}
@media (min-width:1366px) {
    .small {
        font-size: 0.99em
    }
}

.text5 {
    margin: 40px 10px;
    min-width: 300px;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
}
@media (min-width: 768px) {
    .text5 {
        width: 75%;
        margin: 30px auto;
    }
}

.block {
    z-index: 3;
    width: 100%;
    height: 130px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    margin: 20px 20px 0 0;
    text-align: left;
    position: relative;
    background: rgb(225, 225, 225) 50%/cover;
    border-radius: 5px;
    transition: 2s;
}
@media (min-width: 768px) {
    .block {
        width: 240px;
        display: inline-block;
        vertical-align: top;
        background: rgb(225, 225, 225) 50%/cover;
    }
}
@media (min-width:1366px) {
    .block {
        width: 260px;
        background: rgb(225, 225, 225) 50%/cover;
    }
}    

img {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.block:hover {
    transform: translate(0, -4px)
}

.block2 {
    margin-top: 20px;
    height: 200px;
    width: 100%;
    background: rgb(255, 255, 255) 50%/cover;
}
.inblock2 {
    float: left;
    height: 200px;
    width: 150px;
    background: rgb(225, 225, 225) 50%/cover;
}
.picture {
    text-align: center;
    height: 300px;
    width: 75%;
    margin: auto;
}
@media (min-width: 768px) {
    .picture {
        width: 40%;
    }
}

@keyframes movingimg {
    0% {
        background-image: url('images/image (1).jpg');
    }
    20% {
        background-image: url('images/shaverma5(2).jpg');
    }
    40% {
        background-image: url('images/MeatPieces.jpg');
    }
    60% {
        background-image: url('images/SquareSh.jpg');
    }
    80% {
        background-image: url('images/VegSh.jpg');
    }
    100% {
        background-image: url('images/image (1).jpg');
    }
}
.img1 {
    background-image: url('images/shaverma5(2).jpg');
}
.img2 {
    background-image: url('images/image (1).jpg');
}
.img3 {
    background-image: url('images/maxresdefault(3).jpg');
}
.img4 {
    background-image: url('images/simple.jpg');
}
.img5 {
    background-image: url('images/group.jpg');
}
.img6 {
    background-image: url('images/image(2).jpg');
}
.img7 {
    background: rgb(225, 225, 225) 90%/cover;
    background-image: url('images/MeatPieces.jpg');
}
.img8 {
    background-image: url('images/Mini2.jpeg');
}
.img9 {
    background: rgb(225, 225, 225) 90%/cover;
    background-image: url('images/PortableSh.jpg');
}
.img10 {
    background-image: url('images/ShLunch.jpg');
}
.img11 {
    background-image: url('images/Something.jpg');
}
.img12 {
    background-image: url('images/SquareSh.jpg');
}
.img13 {
    background-image: url('images/VegSh.jpg');
}
.img14 {
    background-position: center;
    background-image: url('images/DessertSh.jpg');
}
.img15 {
    background-image: url('images/Boat.jpg');
}
.inblock {
    width: 100%;
    height: 40px;
    margin-top: 90px;
    background-color: rgba(212, 212, 212, 0.77);
    color: black;
    float: left;
    line-height: 0.95;
    font-size: 15px;
    border-radius: 0 0 5px 5px;
    transition: 2s
}
.block:hover .inblock{
    height: 50px;
    transform: translate(0, -10px);
    background-color: rgba(180, 180, 180, 0.77);
}

.first_block {
    margin: 35px 0px 0px 0;
}
.last_block {
    margin: 0 0 0 7%;
}
